* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: gray;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    margin: 50px 0px;
}

.navbar ul li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    transition: all 1s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 40px white;
}

#home{
    display: flex;
    flex-direction: column;
}
