* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: gray;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    transition: all 1s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 40px white;
}

#home{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    
}


.heading {
    color: black;
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 50px;
}



.photo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightsalmon;
}

.photo img {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
}

.photo img:hover{
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 40px white;
    transition: all 1s ease;
}

#Aboutme{
    background-color: lightsalmon;
}

#Aboutme p{
    padding: 10px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#work {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
}

#work h1{
    margin: 60px;
}

.columns{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    padding-left: 50px;
}

.box{
    height: 200px;
    width: 500px;
    background-color: gray;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.box:hover{
    box-shadow: 5px 5px lightgreen;
}

.box h2{
    color: lightgreen;
    font-size: 30px;
    margin-bottom: 40px;
}

.box p{
    color: white;
    font-size: 15px;
}

#contactme{
    background-color: gray;
}

#contactme p{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}


@media screen and (max-width: 768px) {
    .heading {
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }
    .box{
        height: 75%;
        width: 75%;
        background-color: gray;
        border-radius: 20px;
        margin: 5px;
        padding: 10px;
    }

    .navbar ul li a{
        padding: 7.5px 7.5px;
    }

    .photo img {
        width: 250px;
        height: 250px;

    }
}
